### Builds annotation and training image json files for inference

In [1]:
from pycocotools.coco import COCO
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import matplotlib.patches as patches
import pandas as pd
import numpy as np
import yaml
%matplotlib inline
from utils import utils

In [4]:
train_image_data = utils.read_train_image_data()
# eval_image_data = utils.read_eval_image_data()
annotation_data = utils.read_annotation_data()

In [3]:
coco = COCO("../object_detection/train.json")
train_image_data = pd.DataFrame.from_dict(coco.imgs, orient='index').set_index('id')
annotation_data = pd.DataFrame.from_dict(coco.anns, orient='index').set_index('id')

loading annotations into memory...
Done (t=0.16s)
creating index...
index created!

In [5]:
train_image_data

,width,height,file_name,license,flickr_url,coco_url,date_captured,image_id
id,,,,,,,,
1,720,368,3b6f01ae-5bde-434d-9b06-79b269421ed6.png,0,https://fathomnet.org/static/m3/framegrabs/Tib...,https://fathomnet.org/static/m3/framegrabs/Tib...,2007-08-17 17:50:34,1
2,720,368,dce21f7c-20e5-482b-bd90-c038f8464c03.png,0,https://fathomnet.org/static/m3/framegrabs/Tib...,https://fathomnet.org/static/m3/framegrabs/Tib...,2007-08-17 17:50:38,2
3,720,368,4a7f2199-772d-486d-b8e2-b651246316b5.png,0,https://fathomnet.org/static/m3/framegrabs/Tib...,https://fathomnet.org/static/m3/framegrabs/Tib...,2007-08-17 17:50:44,3
4,720,368,3bddedf6-4ff8-4e81-876a-564d2b03b364.png,0,https://fathomnet.org/static/m3/framegrabs/Ven...,https://fathomnet.org/static/m3/framegrabs/Ven...,2007-08-28 17:54:14,4
5,720,369,3f735021-f5de-4168-b139-74bf2859d12a.png,0,https://fathomnet.org/static/m3/framegrabs/Ven...,https://fathomnet.org/static/m3/framegrabs/Ven...,2007-08-28 19:00:00,5
...,...,...,...,...,...,...,...,...
5908,720,366,dc81dfca-4966-4cd8-b6b8-0f7f89d8ab8a.png,0,https://fathomnet.org/static/m3/framegrabs/Doc...,https://fathomnet.org/static/m3/framegrabs/Doc...,2011-06-05 17:35:52,5944
5909,720,366,15757061-16a6-4e21-9e07-f2ebbe47a664.png,0,https://fathomnet.org/static/m3/framegrabs/Doc...,https://fathomnet.org/static/m3/framegrabs/Doc...,2011-06-05 18:07:28,5945
5910,720,366,701715fe-b278-4310-ac1d-cca8ddacc830.png,0,https://fathomnet.org/static/m3/framegrabs/Doc...,https://fathomnet.org/static/m3/framegrabs/Doc...,2011-06-05 18:07:34,5946
5911,1920,1079,45e73fdd-d8a2-4ee1-abc7-3e34d2dfa82a.png,0,https://fathomnet.org/static/m3/framegrabs/Doc...,https://fathomnet.org/static/m3/framegrabs/Doc...,2011-06-05 18:22:23,5947
5912,1920,1080,676b982a-deeb-46ee-b47d-8a97a1b0c76c.png,0,https://fathomnet.org/static/m3/framegrabs/Doc...,https://fathomnet.org/static/m3/framegrabs/Doc...,2015-09-17 14:17:29,5948

In [6]:
annotation_data

,image_id,category_id,segmentation,area,bbox,iscrowd
id,,,,,,
1,1,1,[],7869,"[347.0, 188.0, 129.0, 61.0]",0
2,2,1,[],8775,"[346.0, 191.0, 135.0, 65.0]",0
3,3,1,[],8768,"[343.0, 192.0, 137.0, 64.0]",0
4,4,88,[],315,"[623.0, 95.0, 21.0, 15.0]",0
5,4,1,[],440,"[361.0, 175.0, 22.0, 20.0]",0
...,...,...,...,...,...,...
23490,5948,283,[],2356,"[546.0, 150.0, 38.0, 62.0]",0
23491,5948,283,[],2365,"[698.0, 464.0, 43.0, 55.0]",0
23492,5948,283,[],7830,"[1219.0, 581.0, 135.0, 58.0]",0
23493,5948,283,[],5432,"[1348.0, 436.0, 97.0, 56.0]",0
23494,5948,283,[],4360,"[698.0, 544.0, 40.0, 109.0]",0

## Read json containing species habitat

In [7]:
shallow_df = pd.read_json('../shallow_counts.json')
shallow_df

,category_id,category,supercategory,cat_id_counts,shallow
0,160,Strongylocentrotus fragilis,Urchin,11205,True
1,37,Merluccius productus,Fish,2352,False
2,119,Rathbunaster californicus,Sea star,1528,True
3,51,Sebastes,Fish,1161,True
4,10,Metridium farcimen,Anemone,756,True
...,...,...,...,...,...
60,220,Halipteris californica,Sea pen,13,True
61,99,Solasteridae,Sea star,12,False
62,36,Macrouridae,Fish,12,False
63,7,Hormathiidae,Anemone,11,False
64,30,Icelinus filamentosus,Fish,11,True

In [8]:
# img_data_keys = train_image_data.keys().tolist()
# ann_data_keys = annotation_data.keys().tolist()

In [10]:
ann_df = annotation_data.copy()
ann_df = pd.merge(ann_df, shallow_df, how='right', on='category_id')
ann_df.index = np.arange(1, len(ann_df) + 1)
ann_df = ann_df.reset_index().rename(columns={'index': 'id'}).set_index('id')
ann_df

,image_id,category_id,segmentation,area,bbox,iscrowd,category,supercategory,cat_id_counts,shallow
id,,,,,,,,,,
1,8,160,[],2744,"[238.0, 278.0, 56.0, 49.0]",0,Strongylocentrotus fragilis,Urchin,11205,True
2,11,160,[],5184,"[390.0, 242.0, 81.0, 64.0]",0,Strongylocentrotus fragilis,Urchin,11205,True
3,13,160,[],1054,"[318.0, 202.0, 34.0, 31.0]",0,Strongylocentrotus fragilis,Urchin,11205,True
4,14,160,[],1085,"[365.0, 183.0, 31.0, 35.0]",0,Strongylocentrotus fragilis,Urchin,11205,True
5,14,160,[],884,"[170.0, 142.0, 34.0, 26.0]",0,Strongylocentrotus fragilis,Urchin,11205,True
...,...,...,...,...,...,...,...,...,...,...
23490,729,30,[],5612,"[380.0, 198.0, 92.0, 61.0]",0,Icelinus filamentosus,Fish,11,True
23491,730,30,[],8484,"[366.0, 275.0, 101.0, 84.0]",0,Icelinus filamentosus,Fish,11,True
23492,731,30,[],9344,"[534.0, 507.0, 128.0, 73.0]",0,Icelinus filamentosus,Fish,11,True
23493,731,30,[],17848,"[953.0, 891.0, 97.0, 184.0]",0,Icelinus filamentosus,Fish,11,True
23494,732,30,[],7138,"[1665.0, 490.0, 86.0, 83.0]",0,Icelinus filamentosus,Fish,11,True

In [11]:
train_image_data['image_id'] = train_image_data.index
train_image_data

,width,height,file_name,license,flickr_url,coco_url,date_captured,image_id
id,,,,,,,,
1,720,368,3b6f01ae-5bde-434d-9b06-79b269421ed6.png,0,https://fathomnet.org/static/m3/framegrabs/Tib...,https://fathomnet.org/static/m3/framegrabs/Tib...,2007-08-17 17:50:34,1
2,720,368,dce21f7c-20e5-482b-bd90-c038f8464c03.png,0,https://fathomnet.org/static/m3/framegrabs/Tib...,https://fathomnet.org/static/m3/framegrabs/Tib...,2007-08-17 17:50:38,2
3,720,368,4a7f2199-772d-486d-b8e2-b651246316b5.png,0,https://fathomnet.org/static/m3/framegrabs/Tib...,https://fathomnet.org/static/m3/framegrabs/Tib...,2007-08-17 17:50:44,3
4,720,368,3bddedf6-4ff8-4e81-876a-564d2b03b364.png,0,https://fathomnet.org/static/m3/framegrabs/Ven...,https://fathomnet.org/static/m3/framegrabs/Ven...,2007-08-28 17:54:14,4
5,720,369,3f735021-f5de-4168-b139-74bf2859d12a.png,0,https://fathomnet.org/static/m3/framegrabs/Ven...,https://fathomnet.org/static/m3/framegrabs/Ven...,2007-08-28 19:00:00,5
...,...,...,...,...,...,...,...,...
5908,720,366,dc81dfca-4966-4cd8-b6b8-0f7f89d8ab8a.png,0,https://fathomnet.org/static/m3/framegrabs/Doc...,https://fathomnet.org/static/m3/framegrabs/Doc...,2011-06-05 17:35:52,5908
5909,720,366,15757061-16a6-4e21-9e07-f2ebbe47a664.png,0,https://fathomnet.org/static/m3/framegrabs/Doc...,https://fathomnet.org/static/m3/framegrabs/Doc...,2011-06-05 18:07:28,5909
5910,720,366,701715fe-b278-4310-ac1d-cca8ddacc830.png,0,https://fathomnet.org/static/m3/framegrabs/Doc...,https://fathomnet.org/static/m3/framegrabs/Doc...,2011-06-05 18:07:34,5910
5911,1920,1079,45e73fdd-d8a2-4ee1-abc7-3e34d2dfa82a.png,0,https://fathomnet.org/static/m3/framegrabs/Doc...,https://fathomnet.org/static/m3/framegrabs/Doc...,2011-06-05 18:22:23,5911
5912,1920,1080,676b982a-deeb-46ee-b47d-8a97a1b0c76c.png,0,https://fathomnet.org/static/m3/framegrabs/Doc...,https://fathomnet.org/static/m3/framegrabs/Doc...,2015-09-17 14:17:29,5912

In [12]:
train_df = train_image_data.copy()
train_df = train_df[train_df.image_id.isin(ann_df.image_id)].reset_index(drop=True)
train_df.index = np.arange(1, len(train_df) + 1)
train_df = train_df.reset_index().rename(columns={'index': 'id'}).set_index('id')
train_df

,width,height,file_name,license,flickr_url,coco_url,date_captured,image_id
id,,,,,,,,
1,720,368,3b6f01ae-5bde-434d-9b06-79b269421ed6.png,0,https://fathomnet.org/static/m3/framegrabs/Tib...,https://fathomnet.org/static/m3/framegrabs/Tib...,2007-08-17 17:50:34,1
2,720,368,dce21f7c-20e5-482b-bd90-c038f8464c03.png,0,https://fathomnet.org/static/m3/framegrabs/Tib...,https://fathomnet.org/static/m3/framegrabs/Tib...,2007-08-17 17:50:38,2
3,720,368,4a7f2199-772d-486d-b8e2-b651246316b5.png,0,https://fathomnet.org/static/m3/framegrabs/Tib...,https://fathomnet.org/static/m3/framegrabs/Tib...,2007-08-17 17:50:44,3
4,720,368,3bddedf6-4ff8-4e81-876a-564d2b03b364.png,0,https://fathomnet.org/static/m3/framegrabs/Ven...,https://fathomnet.org/static/m3/framegrabs/Ven...,2007-08-28 17:54:14,4
5,720,369,3f735021-f5de-4168-b139-74bf2859d12a.png,0,https://fathomnet.org/static/m3/framegrabs/Ven...,https://fathomnet.org/static/m3/framegrabs/Ven...,2007-08-28 19:00:00,5
...,...,...,...,...,...,...,...,...
5872,720,366,dc81dfca-4966-4cd8-b6b8-0f7f89d8ab8a.png,0,https://fathomnet.org/static/m3/framegrabs/Doc...,https://fathomnet.org/static/m3/framegrabs/Doc...,2011-06-05 17:35:52,5908
5873,720,366,15757061-16a6-4e21-9e07-f2ebbe47a664.png,0,https://fathomnet.org/static/m3/framegrabs/Doc...,https://fathomnet.org/static/m3/framegrabs/Doc...,2011-06-05 18:07:28,5909
5874,720,366,701715fe-b278-4310-ac1d-cca8ddacc830.png,0,https://fathomnet.org/static/m3/framegrabs/Doc...,https://fathomnet.org/static/m3/framegrabs/Doc...,2011-06-05 18:07:34,5910
5875,1920,1079,45e73fdd-d8a2-4ee1-abc7-3e34d2dfa82a.png,0,https://fathomnet.org/static/m3/framegrabs/Doc...,https://fathomnet.org/static/m3/framegrabs/Doc...,2011-06-05 18:22:23,5911
5876,1920,1080,676b982a-deeb-46ee-b47d-8a97a1b0c76c.png,0,https://fathomnet.org/static/m3/framegrabs/Doc...,https://fathomnet.org/static/m3/framegrabs/Doc...,2015-09-17 14:17:29,5912

about 1/3 of the training annotations are also present in the deep water

In [13]:
annotation_data

,image_id,category_id,segmentation,area,bbox,iscrowd
id,,,,,,
1,1,1,[],7869,"[347.0, 188.0, 129.0, 61.0]",0
2,2,1,[],8775,"[346.0, 191.0, 135.0, 65.0]",0
3,3,1,[],8768,"[343.0, 192.0, 137.0, 64.0]",0
4,4,88,[],315,"[623.0, 95.0, 21.0, 15.0]",0
5,4,1,[],440,"[361.0, 175.0, 22.0, 20.0]",0
...,...,...,...,...,...,...
23490,5948,283,[],2356,"[546.0, 150.0, 38.0, 62.0]",0
23491,5948,283,[],2365,"[698.0, 464.0, 43.0, 55.0]",0
23492,5948,283,[],7830,"[1219.0, 581.0, 135.0, 58.0]",0
23493,5948,283,[],5432,"[1348.0, 436.0, 97.0, 56.0]",0
23494,5948,283,[],4360,"[698.0, 544.0, 40.0, 109.0]",0

list the images that contain only category_id that are not in the top 65

In [14]:
df = annotation_data[annotation_data.category_id.isin(ann_df.category_id)].reset_index(drop=True)
df.index = np.arange(1, len(df) + 1)
df = df.reset_index().rename(columns={'index': 'id'}).set_index('id')
df

,image_id,category_id,segmentation,area,bbox,iscrowd
id,,,,,,
1,1,1,[],7869,"[347.0, 188.0, 129.0, 61.0]",0
2,2,1,[],8775,"[346.0, 191.0, 135.0, 65.0]",0
3,3,1,[],8768,"[343.0, 192.0, 137.0, 64.0]",0
4,4,88,[],315,"[623.0, 95.0, 21.0, 15.0]",0
5,4,1,[],440,"[361.0, 175.0, 22.0, 20.0]",0
...,...,...,...,...,...,...
23490,5948,283,[],2356,"[546.0, 150.0, 38.0, 62.0]",0
23491,5948,283,[],2365,"[698.0, 464.0, 43.0, 55.0]",0
23492,5948,283,[],7830,"[1219.0, 581.0, 135.0, 58.0]",0
23493,5948,283,[],5432,"[1348.0, 436.0, 97.0, 56.0]",0
23494,5948,283,[],4360,"[698.0, 544.0, 40.0, 109.0]",0

In [32]:
df['original_cat_id'] = df['category_id'].copy()
df

,image_id,category_id,segmentation,area,bbox,iscrowd,original_cat_id
id,,,,,,,
1,1,1,[],7869,"[347.0, 188.0, 129.0, 61.0]",0,1
2,2,1,[],8775,"[346.0, 191.0, 135.0, 65.0]",0,1
3,3,1,[],8768,"[343.0, 192.0, 137.0, 64.0]",0,1
4,4,88,[],315,"[623.0, 95.0, 21.0, 15.0]",0,88
5,4,1,[],440,"[361.0, 175.0, 22.0, 20.0]",0,1
...,...,...,...,...,...,...,...
23490,5948,283,[],2356,"[546.0, 150.0, 38.0, 62.0]",0,283
23491,5948,283,[],2365,"[698.0, 464.0, 43.0, 55.0]",0,283
23492,5948,283,[],7830,"[1219.0, 581.0, 135.0, 58.0]",0,283
23493,5948,283,[],5432,"[1348.0, 436.0, 97.0, 56.0]",0,283
23494,5948,283,[],4360,"[698.0, 544.0, 40.0, 109.0]",0,283

In [21]:
shallow_df['id'] = shallow_df.index

In [22]:
shallow_df

,category_id,category,supercategory,cat_id_counts,shallow,id
0,160,Strongylocentrotus fragilis,Urchin,11205,True,0
1,37,Merluccius productus,Fish,2352,False,1
2,119,Rathbunaster californicus,Sea star,1528,True,2
3,51,Sebastes,Fish,1161,True,3
4,10,Metridium farcimen,Anemone,756,True,4
...,...,...,...,...,...,...
60,220,Halipteris californica,Sea pen,13,True,60
61,99,Solasteridae,Sea star,12,False,61
62,36,Macrouridae,Fish,12,False,62
63,7,Hormathiidae,Anemone,11,False,63
64,30,Icelinus filamentosus,Fish,11,True,64

In [31]:
smap = shallow_df[['category_id', 'id']].set_index('category_id').to_dict()['id']
smap

{160: 0,
 37: 1,
 119: 2,
 51: 3,
 10: 4,
 146: 5,
 52: 6,
 88: 7,
 125: 8,
 203: 9,
 214: 10,
 1: 11,
 259: 12,
 9: 13,
 105: 14,
 211: 15,
 133: 16,
 142: 17,
 70: 18,
 260: 19,
 274: 20,
 174: 21,
 205: 22,
 120: 23,
 219: 24,
 81: 25,
 69: 26,
 104: 27,
 218: 28,
 16: 29,
 103: 30,
 224: 31,
 228: 32,
 242: 33,
 61: 34,
 116: 35,
 255: 36,
 202: 37,
 108: 38,
 11: 39,
 82: 40,
 283: 41,
 100: 42,
 201: 43,
 162: 44,
 256: 45,
 173: 46,
 3: 47,
 54: 48,
 85: 49,
 8: 50,
 67: 51,
 107: 52,
 39: 53,
 243: 54,
 131: 55,
 75: 56,
 71: 57,
 93: 58,
 43: 59,
 220: 60,
 99: 61,
 36: 62,
 7: 63,
 30: 64}

In [ ]:
utils.remap(cat_lst, smap)

In [34]:
def remap_ann(cat_id):
    return smap.get(cat_id)

In [37]:
df.category_id = df.category_id.apply(remap_ann)

In [41]:
df

,image_id,category_id,segmentation,area,bbox,iscrowd,original_cat_id
id,,,,,,,
1,1,11,[],7869,"[347.0, 188.0, 129.0, 61.0]",0,1
2,2,11,[],8775,"[346.0, 191.0, 135.0, 65.0]",0,1
3,3,11,[],8768,"[343.0, 192.0, 137.0, 64.0]",0,1
4,4,7,[],315,"[623.0, 95.0, 21.0, 15.0]",0,88
5,4,11,[],440,"[361.0, 175.0, 22.0, 20.0]",0,1
...,...,...,...,...,...,...,...
23490,5948,41,[],2356,"[546.0, 150.0, 38.0, 62.0]",0,283
23491,5948,41,[],2365,"[698.0, 464.0, 43.0, 55.0]",0,283
23492,5948,41,[],7830,"[1219.0, 581.0, 135.0, 58.0]",0,283
23493,5948,41,[],5432,"[1348.0, 436.0, 97.0, 56.0]",0,283
23494,5948,41,[],4360,"[698.0, 544.0, 40.0, 109.0]",0,283

Check that the number of images is correct

In [ ]:
df.image_id.unique().__len__() == train_df.__len__()

Commenting out so run all does not kill previous work

In [ ]:
df

In [43]:
# df.reset_index().to_json('../annotation65.json')
# ann_df.reset_index().to_json('../full_anns65.json')
# train_df.reset_index().to_json('../train_image_data65.json')

## Make dataset.yaml file

In [ ]:
shallow = shallow_df.copy()
shallow['id'] = np.arange(len(shallow))
shallow

In [ ]:
shallow_map = shallow[['id', 'category']].set_index('id').to_dict()['category']
dataset = {'path': '/data/dataset',
           'train': 'images/train',
           'val': 'images/val',
           'names': shallow_map}
dataset

In [ ]:
# with open("/data/dataset65.yaml", 'w') as yamlfile:
#     data = yaml.dump(dataset, yamlfile)
#     print("Write successful")

In [ ]:
train_df.reset_index()

In [ ]:
ann_df.reset_index()

In [ ]:
df = pd.read_json('../annotation65.json')
df